.label-input {
  position: relative;
  .label {
    height: 32px;
    padding: 0 11px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: text;
    transition: all 0.3s;

    &.is-focus {
      top: -16px;
      transform: scale(0.75);
      background-color: #fff;
    }
  }
}